<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Devin's Guestbook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/guestbook.css">
    
</head>

<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">Devin Miller's Website</h1>
        <img id="me" src="/assets/img/me.png" style="width: 40px; height: 50px;">

        <nav>
            <ul>
                <li><a href="/about">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/calculate">Calculator</a></li>
                <li><a href="/guestbook">Guestbook</a></li>
            </ul>
        </nav>
    </header>
</div>
<body class="container">
<h1>
Devin Miller's Guestbook
<a id="gbWrite" href="/new-entry" class="btn btn-primary pull-right">
Please sign my guestbook!
</a>
</h1>